@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.contacts-block-wr .contacts-block .contacts-block-image-wr .contacts-block-image {
  position: absolute;
  top: -15%;
  background-image: url("/images/russiaLow.svg");
  height: 1200px;
  background-size: 75%;
  background-repeat: no-repeat;
  width: 100%; }
.contacts-block-wr .contacts-geoposition p {
  margin-bottom: 0; }
.contacts-block-wr .contacts-geoposition ul {
  margin-left: 0; }
.contacts-block-wr ul.contacts-list {
  margin-left: 0; }
.contacts-block-wr .contacts-icon {
  position: relative;
  font-size: 1.5rem; }
  .contacts-block-wr .contacts-icon i {
    position: absolute;
    top: 0.5rem; }
.contacts-block-wr ul.contacts-social-list {
  margin-left: 0; }
  .contacts-block-wr ul.contacts-social-list img.soc-inst {
    height: 1.4rem; }
  .contacts-block-wr ul.contacts-social-list img.soc-vk {
    height: 1rem; }
