@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.hero-about .hero-about-image-wr {
  width: 500px; }

.hero-img-alpha {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85); }

.hero-img {
  background: url("/images/building.jpg") 100% no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hero-img .hero-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center; }
  .hero-img .hero {
    margin-top: 1rem; }
    .hero-img .hero .hero-text-wr {
      width: 100%; }
      .hero-img .hero .hero-text-wr .hero-text {
        width: 100%;
        display: block;
        text-align: left;
        display: -webkit-flex;
        display: flex;
        align-content: center;
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: center; }
        .hero-img .hero .hero-text-wr .hero-text h1 {
          font-weight: bold;
          font-size: 2rem;
          text-shadow: rgba(255, 255, 255, 0.5) 1px 1px, rgba(255, 255, 255, 0.5) -1px -1px, rgba(255, 255, 255, 0.5) 1px -1px, rgba(255, 255, 255, 0.5) -1px 1px; }
        .hero-img .hero .hero-text-wr .hero-text h1, .hero-img .hero .hero-text-wr .hero-text p {
          color: #333333; }
        .hero-img .hero .hero-text-wr .hero-text p.white {
          color: #FFFFFF;
          line-height: 0px; }
        .hero-img .hero .hero-text-wr .hero-text p.lead {
          margin-bottom: 0; }
        .hero-img .hero .hero-text-wr .hero-text ul.hero-list {
          margin-left: 0; }
          .hero-img .hero .hero-text-wr .hero-text ul.hero-list li {
            margin: 0.5rem 0.5rem 0rem 0rem; }
            .hero-img .hero .hero-text-wr .hero-text ul.hero-list li span {
              display: inline-block;
              padding: 0.35rem 1rem; }
        .hero-img .hero .hero-text-wr .hero-text ul.hero-features {
          padding: 1rem;
          margin-left: 0;
          background-color: rgba(255, 255, 255, 0.8);
          border: 2px solid rgba(0, 147, 219, 0.7); }
          .hero-img .hero .hero-text-wr .hero-text ul.hero-features li {
            margin-bottom: 1rem; }
            .hero-img .hero .hero-text-wr .hero-text ul.hero-features li .hero-features-icon-wr {
              position: relative; }
              .hero-img .hero .hero-text-wr .hero-text ul.hero-features li .hero-features-icon-wr i {
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
                color: #00608f;
                font-size: 1.8rem; }
            .hero-img .hero .hero-text-wr .hero-text ul.hero-features li span {
              display: block; }
            .hero-img .hero .hero-text-wr .hero-text ul.hero-features li span.feature-title {
              color: #00608f;
              font-size: 1.25rem; }
            .hero-img .hero .hero-text-wr .hero-text ul.hero-features li span.feature-text {
              font-size: 0.75rem; }
