%html
  %head
    %title Богатый Мир Упаковки: Контакты
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/main.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'}
    %link{:href => "apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
    %link{:href => "apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    %link{:href => "apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}
    %link{:href => "favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => "favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "manifest.json", :rel => "manifest"}
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}
    %meta{:content => "ms-icon-144x144.png", :name => "msapplication-TileImage"}
    %meta{:content => "#ffffff", :name => "theme-color"}
    %meta{name:"robots", content: "index,follow"}
    %meta{:content => "Богатый Мир Упаковки. Упаковка, Хозяйственные, Канцелярские товары, Подарки", :name => "description"}
    %meta{:content => "Пакеты, пакеты в рулонах, пакеты для мусора, шпагат, бутылки, чековая лента, , перчатки, канцелярские, хозяйственные , оптовая база, пленка, стрейч, туалетная бумага, ложки, ножи, вилки, бытовая химия, для мытья посуды, для мытья стекол, бахилы, ценники, бумага, блокноты, тетради,  ПНД, ПВД, пакеты майка,   термоусадочные пленки, скотч, упаковка, одноразовая посуда, бму", :name => "keywords"}
    %script{src: 'js/app.js'}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40928872-1', 'auto');
      ga('send', 'pageview');

    %script{:type => "application/ld+json"}
      {
        "@context": "http://schema.org",
        "@type": "Store",
        "image": "http://bmupack.ru/images/smallLogo.jpg",
        "@id": "http://bmupack.ru",
        "name": "Богатый Мир Упаковки",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Великая ул., 22",
          "addressLocality": "Великий Новгород",
          "addressRegion": "Новгородская область",
          "postalCode": "173003",
          "addressCountry": "RU"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 58.540999,
          "longitude": 31.267749
        },
        "url": "http://bmupack.ru",
        "sameAs": [
          "http://instagram.com/bmupack",
          "https://vk.com/bmupack"
        ],
        "telephone": "+78162332132",
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" ],
            "opens": "9:00",
            "closes": "17:00"
          },
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": "Saturday",
            "opens": "9:00",
            "closes": "14:00"
          }
        ],
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "telephone": "+7-8162-33-21-32",
            "contactType": "sales"
          },
          {
            "@type": "ContactPoint",
            "telephone": "+7-8162-33-21-31",
            "contactType": "sales"
          },
          {
            "@type": "ContactPoint",
            "telephone": "+7-8162-33-21-33",
            "contactType": "sales"
          }
        ]
      }

    :javascript
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45549195 = new Ya.Metrika({ id:45549195, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script>
  %noscript
    %div
      %img{ src: "https://mc.yandex.ru/watch/45549195", style: "position:absolute; left:-9999px;", alt: "" }
  %body

    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name.brand
          %a{:href => "/"}
            %img.brand-img{src: "images/smallLogo.jpg"}
            %h1.brand-name Богатый Мир Упаковки

      %section.top-bar-section.navbar-right
        %ul.right
          %li
            %a.navbar-email{:href => "mailto:sales@bmupack.ru", onclick: "yaCounter45549195.reachGoal('sendEmail'); return true;"} sales@bmupack.ru
          %li
            %a.navbar-phone{:href => "tel:88162332132", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"}
              %i.fa.fa-phone
              %span +7 8162 33-21-32
      %span.navbar-text-addr.right.hide-for-medium-down{class: "navbar-text hide"}
        ул. Великая, 22, В. Новгород
        %a.fa.fa-map-o{href:"https://www.google.ru/maps/place/%D0%91%D0%BE%D0%B3%D0%B0%D1%82%D1%8B%D0%B9+%D0%9C%D0%B8%D1%80+%D0%A3%D0%BF%D0%B0%D0%BA%D0%BE%D0%B2%D0%BA%D0%B8/@58.540999,31.2655603,17z/data=!3m1!4b1!4m5!3m4!1s0x46beebad91b122b3:0x3870373e95ddffb2!8m2!3d58.540999!4d31.267749?hl=ru", target: "_blank", onclick: "yaCounter45549195.reachGoal('openMap'); return true;"}


    .row
      .columns.large-12
        %dl.sub-nav.center
          %dd
            %a{:href => "/"} Главная
          %dd
            %a{:href => "/production.html"} Продукция
          %dd
            %a{:href => "/catalog.html"} Каталог
          %dd.active
            %a{:href => "/contacts.html"} Контакты


    .contacts-block-wr
      .contacts-block
        .row
          .large-12.columns
            %h1 Контакты

    .contacts-block-wr.dark-background
      .contacts-block
        -# .row
        -#   .large-12.columns
        -#     %h5.header-on-dark Давайте сотрудничать

        .row
          .columns.large-6.medium-12.small-12
            %h3.header-on-dark Прийти

            -# %p               Хотите получать эксклюзивные предложения? Не успеваете на привоз? Присоединяйтесь и получайте всю необходимую информацию %strong прямо сейчас!
            %ul.contacts-list
              %li.row
                .column.large-1.small-1
                  .contacts-icon
                    %i.fa.fa-map-o
                .column.large-11.small-11
                  .contacts-geoposition
                    %span.text В. Новгород, ул. Великая, 22
                    %p
                      %a.small-sub{href:"https://www.google.ru/maps/place/%D0%91%D0%BE%D0%B3%D0%B0%D1%82%D1%8B%D0%B9+%D0%9C%D0%B8%D1%80+%D0%A3%D0%BF%D0%B0%D0%BA%D0%BE%D0%B2%D0%BA%D0%B8/@58.540999,31.2655603,17z/data=!3m1!4b1!4m5!3m4!1s0x46beebad91b122b3:0x3870373e95ddffb2!8m2!3d58.540999!4d31.267749?hl=ru", target: "_blank", onclick: "yaCounter45549195.reachGoal('openMap'); return true;"} Открыть в картах

                    %ul
                      %li
                        %strong 9:00 - 17.00
                        — Будни
                      %li
                        %strong 9:00 - 14.00
                        — Суббота
                      %li
                        %strong Выходной
                        — Воскресенье
            %h3.header-on-dark Позвонить

            .row
              .column.large-1.small-1
                .contacts-icon
                  %i.fa.fa-phone
              .column.large-11.small-11
                %p Отделы продаж
                %ul.contacts-list
                  %li
                    %a{:href => "tel:+78162332131", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"} +7 (8162) 33-21-31
                    %span.text Физические лица, розница
                  %li
                    %a{:href => "tel:+78162332132", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"} +7 (8162) 33-21-32
                    %span.text Корпоративные клиенты
                  %li
                    %a{:href => "tel:+78162332133", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"} +7 (8162) 33-21-33
                    %span.text Заказы на производство

            %h3.header-on-dark Написать
            %ul.contacts-list
              %li.row
                .column.large-1.small-1
                  .contacts-icon
                    %i.fa.fa-envelope-o
                .column.large-11.small-11
                  %ul.contacts-list
                    %li
                      %span.text sales@bmupack.ru
                      %a{:href => "mailto:sales@bmupack.ru", onclick: "yaCounter45549195.reachGoal('sendEmail'); return true;"} Отправить заявку
                    %li
                      %span.text feedback@bmupack.ru
                      %a{:href => "mailto:feedback@bmupack.ru", onclick: "yaCounter45549195.reachGoal('sendEmail'); return true;"} Отправить отзыв
                    %li
                      %span.text offer@bmupack.ru
                      %a{:href => "mailto:offer@bmupack.ru ", onclick: "yaCounter45549195.reachGoal('sendEmail'); return true;"} Отправить коммерческое предложение




            %h3.header-on-dark Следить в социальных сетях
            %ul.contacts-list
              %li.row
                .column.large-1.small-1
                  .contacts-icon
                    %i.fa.fa-user-o
                .column.large-11.small-11
                  %ul.contacts-social-list
                    %li
                      %a{:href => "https://www.instagram.com/bmupack", target: "_blank", onclick: "yaCounter45549195.reachGoal('openSocialInstagram'); return true;"}
                        %img.social.soc-inst{src: "images/instagram.png"}
                        Страница в Instagram
                    %li
                      %a{:href => "https://vk.com/bmupack", target: "_blank", onclick: "yaCounter45549195.reachGoal('openSocialVK'); return true;"}
                        %img.social.soc-vk{src: "images/vklogo.svg"}
                        Группа ВКонтакте


          .columns.large-6.medium-12.small-12

            %iframe{allowfullscreen:'', frameborder:'0', height:'400', style: 'border:0', width:'100%',  src:'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2082.2395285459193!2d31.267748996615403!3d58.5409991576875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x3870373e95ddffb2!2z0JHQvtCz0LDRgtGL0Lkg0JzQuNGAINCj0L_QsNC60L7QstC60Lg!5e0!3m2!1sru!2sru!4v1440323882632'}

    %script{"data-dojo-config" => "usePlainJson: true, isDebug: false", :src => "//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js", :type => "text/javascript"}
    :javascript
      require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"42fad91015d9344b12e8586c6","lid":"b4dc660367"}) })
