%html
  %head
    %title Богатый Мир Упаковки. Упаковка. Канцелярия. Хозтовары.
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/main.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'}
    %link{:href => "apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
    %link{:href => "apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    %link{:href => "apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}
    %link{:href => "favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => "favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "manifest.json", :rel => "manifest"}
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}
    %meta{:content => "ms-icon-144x144.png", :name => "msapplication-TileImage"}
    %meta{:content => "#ffffff", :name => "theme-color"}
    %meta{name:"robots", content: "index,follow"}
    %meta{:content => "Богатый Мир Упаковки. Упаковка, Хозяйственные, Канцелярские товары, Подарки", :name => "description"}
    %meta{:content => "Пакеты, пакеты в рулонах, пакеты для мусора, шпагат, бутылки, чековая лента, , перчатки, канцелярские, хозяйственные , оптовая база, пленка, стрейч, туалетная бумага, ложки, ножи, вилки, бытовая химия, для мытья посуды, для мытья стекол, бахилы, ценники, бумага, блокноты, тетради,  ПНД, ПВД, пакеты майка,   термоусадочные пленки, скотч, упаковка, одноразовая посуда, бму", :name => "keywords"}
    %script{src: 'js/app.js'}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40928872-1', 'auto');
      ga('send', 'pageview');

    %script{:type => "application/ld+json"}
      {
        "@context": "http://schema.org",
        "@type": "Store",
        "image": "http://bmupack.ru/images/smallLogo.jpg",
        "@id": "http://bmupack.ru",
        "name": "Богатый Мир Упаковки",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Великая ул., 22",
          "addressLocality": "Великий Новгород",
          "addressRegion": "Новгородская область",
          "postalCode": "173003",
          "addressCountry": "RU"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 58.540999,
          "longitude": 31.267749
        },
        "url": "http://bmupack.ru",
        "sameAs": [
          "http://instagram.com/bmupack",
          "https://vk.com/bmupack"
        ],
        "telephone": "+78162332132",
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" ],
            "opens": "9:00",
            "closes": "17:00"
          },
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": "Saturday",
            "opens": "9:00",
            "closes": "14:00"
          }
        ],
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "telephone": "+7-8162-33-21-32",
            "contactType": "sales"
          },
          {
            "@type": "ContactPoint",
            "telephone": "+7-8162-33-21-31",
            "contactType": "sales"
          },
          {
            "@type": "ContactPoint",
            "telephone": "+7-8162-33-21-33",
            "contactType": "sales"
          }
        ]
      }

    :javascript
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45549195 = new Ya.Metrika({ id:45549195, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script>
  %noscript
    %div
      %img{ src: "https://mc.yandex.ru/watch/45549195", style: "position:absolute; left:-9999px;", alt: "" }
  %body

    %nav.top-bar{"data-topbar" => "", :role => "navigation"}

      %ul.title-area
        %li.name.brand
          %a{:href => "/"}
            %img.brand-img{src: "images/smallLogo.jpg"}
            %h1.brand-name Богатый Мир Упаковки

      %section.top-bar-section.navbar-right
        %ul.right
          %li
            %a.navbar-email{:href => "mailto:sales@bmupack.ru", onclick: "yaCounter45549195.reachGoal('sendEmail'); return true;"} sales@bmupack.ru
          %li
            %a.navbar-phone{:href => "tel:88162332132", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"}
              %i.fa.fa-phone
              %span +7 8162 33-21-32
      %span.navbar-text-addr.right.hide-for-medium-down{class: "navbar-text hide"}
        ул. Великая, 22, В. Новгород
        %a.fa.fa-map-o{href:"https://www.google.ru/maps/place/%D0%91%D0%BE%D0%B3%D0%B0%D1%82%D1%8B%D0%B9+%D0%9C%D0%B8%D1%80+%D0%A3%D0%BF%D0%B0%D0%BA%D0%BE%D0%B2%D0%BA%D0%B8/@58.540999,31.2655603,17z/data=!3m1!4b1!4m5!3m4!1s0x46beebad91b122b3:0x3870373e95ddffb2!8m2!3d58.540999!4d31.267749?hl=ru", target: "_blank", onclick: "yaCounter45549195.reachGoal('openMap'); return true;"}

    .row
      .columns.large-12
        %dl.sub-nav.center
          %dd.active
            %a{:href => "/"} Главная
          %dd
            %a{:href => "/production.html"} Продукция
          %dd
            %a{:href => "/catalog.html"} Каталог
          %dd
            %a{:href => "/contacts.html"} Контакты


    .row-large.hero-about.hero-img#hero-img
      .hero-img-alpha
        .row.hero-container
          .large-8.columns
            .hero
              .hero-text-wr
                .hero-text
                  %p.lead
                    %small Более 20 лет
                    %br
                    Снабжаем Москву, Санкт-Петербург и города СЗФО

                  %h1 Богатый Мир Упаковки
                  %p
                    %strong
                      %a{:href => "/production.html"} Производство
                      и
                      %a{:href => "/catalog.html"} Торговля
                  .button-group.radius
                    %a.button.small{:href => "tel:88162332132", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"}
                      %i.fa.fa-phone
                      %b Позвонить +7 (8162) 33-21-32
                    %a.button.small{:href => "/catalog.html"}
                      %i.fa.fa-list
                      %b Посмотреть каталог
          .large-4.columns
            .hero
              .hero-text-wr
                .hero-text
                  %ul.hero-features
                    %li.row
                      .columns.large-2.small-2
                        .hero-features-icon-wr
                          %i.fa.fa-ship
                      .columns.large-10.small-10
                        %span.feature-title
                          %b Бесплатная
                          доставка
                        %span.feature-text
                          При заказе от 2'000
                          %i.fa.fa-rub
                          по Новгороду
                          %br
                          При заказе от 5'000
                          %i.fa.fa-rub
                          по области
                          %br
                          При заказе от 100'000
                          %i.fa.fa-rub
                          в другие города


                    %li.row
                      .columns.large-2.small-2
                        .hero-features-icon-wr
                          %i.fa.fa-industry
                      .columns.large-10.small-10
                        %span.feature-title
                          %b Производство
                        %span.feature-text
                          Собственная
                          %a{:href => "/production.html"}
                            линия производства
                          фасовочных пакетов ПНД


                    %li.row
                      .columns.large-2.small-2
                        .hero-features-icon-wr
                          %i.fa.fa-list
                      .columns.large-10.small-10
                        %span.feature-title Товары
                        %span.feature-text
                          Более 3'500
                          %a{:href => "/catalog.html"}
                            товаров
                          для оптовых и розничных клиентов

                    %li.row
                      .columns.large-2.small-2
                        .hero-features-icon-wr
                          %i.fa.fa-credit-card

                      .columns.large-10.small-10
                        %span.feature-title Цены и Оплата
                        %span.feature-text
                          Индивидуальные скидки для оптовых клиентов.
                          Принимаем наличные и безналичные платежи

          -# .columns.large-3.small-2
          -#   .hero
          -#     .hero-text-wr
          -#       .hero-text
          -#
          -#         %ul.hero-list
          -#           %li
          -#             %span Упаковочные материалы
          -#           %li
          -#             %span Канцелярские товары
          -#           %li
          -#             %span Хозяйственные товары
          -#           %li
          -#             %span Одноразовая посуда
          -#           %li
          -#             %span Подарочная упаковка
          -#           %li
          -#             %span Интерьер и декорации
          -#           %li
          -#             %span Подарки



    -# .row-block.hero-about
    -#   .row
    -#     .large-7.columns
    -#       .hero-about-image-wr
    -#         %img{src: "/images/building.jpg"}
    -#
    -#     .large-5.columns
    -#       %h2 Богатый Мир Упаковки
    -#       %p
    -#         %strong
    -#           Мы —
    -#           %a{:href => "/production.html"} производственная
    -#           компания.
    -#         %br
    -#         Более 20 лет
    -#         %strong Богатый Мир Упаковки
    -#         обеспечивает города Северо-Западного федерального округа
    -#         упаковочными материалами, хозяйственно-бытовой и канцелярской продукцией, а так же сувенирами, праздничной, интерьерной и декоративной продукцией!


    .row-block
      .row
        .large-3.columns
          %h2 О компании
        .large-9.columns
          %p
            %strong
              Мы —
              %a{:href => "/production.html"} производственная
            компания.
            %strong Богатый Мир Упаковки
            обеспечивает города
            упаковочными материалами, хозяйственно-бытовой и канцелярской продукцией, а так же сувенирами, праздничной, интерьерной и декоративной продукцией!
            %br
            %a{:href => "/catalog.html"}
              %i.fa.fa-list
              %b Каталог

    .row-large
      .row.about-company
        .large-3.medium-12.small-12.columns
          .about-pads
            %p.subheader Реальный сектор экономики.
            %h2 Значимость
            %p Мы создаем условия для работы в различных секторах жизни и экономики.
        .large-9.medium-12.small-12.columns
          %ul.small-block-grid-2.large-block-grid-4.partners-type-list
            %li
              .icon-wr
                %i.fa.fa-shopping-basket
              %span.description Торговые сети и магазины
            %li
              .icon-wr
                %i.fa.fa-medkit
              %span.description Медицина
            %li
              .icon-wr
                %i.fa.fa-id-card
              %span.description Государственные учреждения
            %li
              .icon-wr
                %i.fa.fa-cutlery
              %span.description Рестораны, бары и кафе
            %li
              .icon-wr
                %i.fa.fa-crop
              %span.description Сельское хозяйство
            %li
              .icon-wr
                %i.fa.fa-paint-brush
              %span.description Клиринговые компании
            %li
              .icon-wr
                %i.fa.fa-magic
              %span.description Развлечения
            %li
              .icon-wr
                %i.fa.fa-industry
              %span.description Производства




    .row-large.blue-background
      .row
        .large-7.columns
          %h3.text-center Контакты
          %p.contacts-text
            Хотите получать эксклюзивные предложения?
            Не успеваете на привоз?
            Присоединяйтесь и получайте всю необходимую информацию
            %strong прямо сейчас!
          %hr.contacts-block
          %ul.address
            %li Великий Новгород
            %li Улица Великая, 22
            %li
              %a.small-sub{href:"https://www.google.ru/maps/place/%D0%91%D0%BE%D0%B3%D0%B0%D1%82%D1%8B%D0%B9+%D0%9C%D0%B8%D1%80+%D0%A3%D0%BF%D0%B0%D0%BA%D0%BE%D0%B2%D0%BA%D0%B8/@58.540999,31.2655603,17z/data=!3m1!4b1!4m5!3m4!1s0x46beebad91b122b3:0x3870373e95ddffb2!8m2!3d58.540999!4d31.267749?hl=ru", target: "_blank", onclick: "yaCounter45549195.reachGoal('openMap'); return true;"} Открыть в картах
          %hr.contacts-block
          %ul.phones
            %li
              %a{:href => "tel:+78162332131", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"} +7 8162 33 - 21 - 31
            %li
              %a{:href => "tel:+78162332132", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"} +7 8162 33 - 21 - 32
            %li
              %a{:href => "tel:+78162332133", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"} +7 8162 33 - 21 - 33

          %hr.contacts-block
          %ul.center.social
            %li
              %a{:href => "https://www.instagram.com/bmupack", target: "_blank", onclick: "yaCounter45549195.reachGoal('openSocialInstagram'); return true;"}
                %img.social.soc-inst{src: "images/instagram.png"}
            %li
              %a{:href => "https://vk.com/bmupack", target: "_blank", onclick: "yaCounter45549195.reachGoal('openSocialVK'); return true;"}
                %img.social{src: "images/vklogo.svg"}

          %hr.contacts-block
          %ul.email.phones
            %li
              %a{:href => "mailto:sales@bmupack.ru", onclick: "yaCounter45549195.reachGoal('sendEmail'); return true;"} sales@bmupack.ru

          %hr.contacts-block
          %ul.worktime
            %li
              %strong 9:00 - 17.00
              — Будни
            %li
              %strong 9:00 - 14.00
              — Суббота
            %li
              %strong Выходной
              — Воскресенье

        .large-5.columns
          #mc_embed_signup
            %form#mc-embedded-subscribe-form.validate{:action => "//space.us13.list-manage.com/subscribe/post?u=42fad91015d9344b12e8586c6&id=b4dc660367", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "novalidate", :target => "_blank"}
              #mc_embed_signup_scroll
                %h2 Получить прайс
                %p Оставьте свои контакты и мы отправим прайс-лист
                .mc-field-group
                  %label{:for => "mce-EMAIL"}
                    Email
                    %span.asterisk *
                  %input#mce-EMAIL.email.required{"aria-required" => "true", :name => "EMAIL", :placeholder => "email@example.com", :type => "email", :value => ""}
                .mc-field-group
                  %label{:for => "mce-MMERGE3"}
                    Телефон
                    %span.asterisk *
                  %input#mce-MMERGE3{"aria-required" => "true", :name => "MMERGE3", :placeholder => "+7 (000) 1234-567", :required => "true", :type => "text", :value => ""}
                .mc-field-group
                  %label{:for => "mce-LNAME"} Имя
                  %input#mce-LNAME{:name => "LNAME", :placeholder => "Иван Иванов", :type => "text", :value => ""}
                #mce-responses.clear
                  #mce-error-response.response{:style => "display:none"}
                  #mce-success-response.response{:style => "display:none"}
                %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px"}
                  %input{:name => "b_42fad91015d9344b12e8586c6_b4dc660367", :tabindex => "-1", :type => "text", :value => ""}
                .clear
                  %input.button.expand.success{:name => "subscribe", :type => "submit", :value => "Заказать звонок"}

    -#
    -# .row-large
    -#   .row.about-company
    -#     -# .large-4.medium-12.small-12.columns
    -#     %h2 Индустрия упаковки и подарков
    -#     -# .large-8.medium-12.small-12.columns
    -#     %p
    -#       %strong Богатый Мир Упаковки
    -#       — Производитель и поставщик упаковки, упаковочных материалов, канцелярских товаров, а так же подарочной упаковки, сувениров и подарков.
    -#       %a{:href => "/catalog.html"} Подробнее.

    -# .row-large
    -#   .row
    -#     .large-12.medium-12.small-12.columns
    -#       %ul.small-block-grid-3
    -#         %li
    -#           .card
    -#             %img{src: 'http://via.placeholder.com/350x150'}
    -#             %h3 Производство
    -#             %p Мы принимаем заказы на производство упаковки из полиэтилена.
    -#             %p Наши производственные линии позволяют создавать фасовочные пакеты, в том числе в рулонах, пакеты для мусора, вклыдыши из полиэтилена ПНД.
    -#             %a.button.info.small{:href => "/production.html"} Подробнее
    -#
    -#         %li
    -#           .card
    -#             %img{src: 'http://via.placeholder.com/350x150'}
    -#             %h3 Значимость
    -#             %p Наша деятельность создает условия для работы в различных секторах жизни: рестораны и кафе, сельское хозяйство, развлечения, снабжение торговых сетей и магазинов, государственных учреждений, медицинских компаний, пекарен, клиринговых компаний.
    -#
    -#
    -#         %li
    -#           .card
    -#             %img{src: 'http://via.placeholder.com/350x150'}
    -#             %h3 Эстетика
    -#             %p Подарочная упаковка Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum

          -#   Одна из крупнейших торгово-производственных компаний на северо-западе России.
          -#   %br
          -#   Уже более 20 лет поставляет
          -#   %strong упаковочные
          -#   материалы, а так же
          -#   -# = succeed "," do
          -#   %strong канцелярские, хозяйственные, бытовые
          -#   товары. У нас Вы найдете множество
          -#   %strong подарков
          -#   и
          -#   %strong сувениров
          -#   .
          -#   Множество компаний по достоинству оценили продукцию компании Богатый Мир Упаковки, присоединяйтесь и Вы!
    -# .row-large
    -#   .row
    -#     .large-3.medium-6.small-6.columns
    -#       %h3.offer Для дома, офиса и жизни
    -#       .yellow-offer Канцелярские принадлежности, бытовая химия, хозяйственные товары, пластиковая мебель.
    -#       .offer-text Всё самое нужное для дома и офиса, на каждый день. Организуйте рабочий процесс, наведите вокруг порядок. Свободное время оставьте на отыдх с друзьями и близкими. Что бы вы не задумали, вам понадобится одноразовая посуда, салфетки, а может даже уголь и средства для розжига. Не забудьте туалетную бумагу :)
    -#
    -#     .large-3.medium-6.small-6.columns
    -#       %h3.offer Производство
    -#       .yellow-offer Десятки видов упаковочных материалов, изготавление упаковки с Вашим логотипом.
    -#       .offer-text За годы практики мы получили уникальный опыт производства, профессионально овладели технологией изготовления фасовочных пакетов и рулонной упаковки, создали современную инфраструктуру, а так же внедрили контроль качества на каждом из этапов производства. Нашу упаковку ценят и любят во множестве городов СЗАО!
    -#
    -#     .large-3.medium-6.small-6.columns
    -#       %h3.offer Праздники и Сувениры
    -#       .yellow-offer Элементы интерьера, сувениры или фигурки украсят Мир вокруг! Оформляйте праздник с нами!
    -#       .offer-text Живите достойно! Устройте чайную церемонию в японском стиле, европейский праздник, пикник на озере или прием у бабушки в деревне. Отличные подарки для всех и каждого, прекрасная упаковка для цветов и подарков, все атрибуты праздника для дня рождения, свадьбы, Нового Года и других любимых праздников!
    -#


    .row-large.dark-background.catalog
      .row
        .large-12.columns
          %h2.header-on-dark.text-center Каталог
          %p
            %a{:href => "/production.html"}
              %span.label.alert.radius
                %i.fa.fa-gear
            &nbsp;— собственное производство
      .row
        -#########################################
        -######################################### Упаковка
        -#########################################
        .large-12.columns
          %h3.header-on-dark Упаковка

        -# Пакеты, цветочная упаковка, пленка, скотч, контейнеры, ланч боксы и многое другое!
        -# Мы снабдим всем необхоимым для упаковки чего угодно: будь то пищевые пакеты, канцелярские принадлежности, пластиковая мебель (впрочем, другая тоже), цветы или подарки — все это легко упаковать с нашей помощью! Упаковочку мы продаем на улице Великая, 22. Только по этому адресу Вам предложат выгодные цены!
        .large-12.columns
          %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
            %li.offer-card
              -# .large-4.medium-6.small-6.columns.offer-card
              %h3.offer Пакеты фасовочные
              %ul.offer-text
                %li Пакеты в рулонах ПНД
                  %a{:href => "/production.html"}
                    %span.label.alert.radius
                      %i.fa.fa-gear
                %li
                  Пакеты для мусора
                  %a{:href => "/production.html"}
                    %span.label.alert.radius
                      %i.fa.fa-gear

                %li
                  Пакеты Фасовочные ПНД
                  %a{:href => "/production.html"}
                    %span.label.alert.radius
                      %i.fa.fa-gear
                %li Пакеты Фасовочные ПВД
                %li Пакеты Бумажные (крафт)
                %li Пакеты Zip-lock (грипперы)



            %li.offer-card
              %h3.offer Пакеты
              %ul.offer-text

                %li
                  Пакеты для мусора в рулонах
                  %a{:href => "/production.html"}
                    %span.label.alert.radius
                      %i.fa.fa-gear
                %li Пакеты для мусора биоразлагаемые
                %li Пакеты «Майка» ПВД (LDPE)
                %li Пакеты «Майка» ПНД (HDPE)
                %li Пакеты с Пластиковой ручкой
                %li Пакеты с Вырубной ручкой
                %li Пакеты с Петлевой ручкой
                %li Пакеты с Петлевой ручкой бумажные
                %li Пакеты для колес


            %li.offer-card
              %h3.offer Мешки и сетки
              %ul.offer-text
                %li Мешки полипропиленовые
                %li Мешки бумажные
                %li Сетка-мешок
                %li Сетка-рукав

            %li.offer-card
              %h3.offer Пленки
              %ul.offer-text
                %li
                  Пленка стрейч
                  %small (стретч)
                %li Пленка пищевая
                %li Пленка термоусадочная
                %li Пленка ПВХ
                %li Пленка воздушно-пузырчатая
                %li Бумага для выпечки
                -# %li Пергамент
                %li Рукава и пакеты для запекания
                %li Фольга пищевая


            %li.offer-card
              %h3.offer Сумки
              %ul.offer-text
                %li Сумки виниловые
                %li Сумки джутовые
                %li Сумки полипропиленовые
                %li Сумки с замком
                %li Сумки хозяйственные
                %li Сумки Крафт


            %li.offer-card
              %h3.offer Упаковочные материалы
              %ul.offer-text
                %li Стреп-лента и Скобы
                %li
                  Скотч малярный
                  %small (крепп)
                %li Скотч пропилен
                %li Скотч тканевый
                %li Скотч двусторонний зеркальный
                %li Скотч канцелярский
                %li Изолента
                %li
                  Лента алюминиевая
                  %small (скотч армированный)
                %li Лента разметочная оградительная


            %li.offer-card
              %h3.offer Устройства
              %ul.offer-text
                %li Биркодержатели
                %li Диспенсеры для скотча
                %li Запайщики Импульсные
                %li
                  Комбинированные устройства
                  %small (для п/пр. ленты)
                  -# %span.hide (для полипропиленовой ленты)
                %li Этикет-пистолеты
                %li Игловые пистолеты

            %li.offer-card
              %h3.offer Шпагат
              %ul.offer-text
                %li Шпагат джутовый
                %li Шпагат льняной
                %li
                  Шпагат полипропиленовый
                  %small (белый, цветной)



      .row
        .large-12.columns
          -#########################################
          -######################################### Пластик
          -#########################################
          %h3.header-on-dark Пластик и посуда
          %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
            %li.offer-card
              %h3.offer Пластиковые емкости
              %ul.offer-text
                %li Бутылки
                %li Баки
                %li Лейки
                %li Канистры
                %li Канистры со сливом
                %li Тазы
                %li Бочки
                %li Фляги
                %li Контейнеры для СВЧ-печей

            %li.offer-card
              %h3.offer Одноразовая посуда
              %ul.offer-text
                %li Стаканы, чашки
                %li Контейнеры
                %li Тарелки пластиковые
                %li Тарелки картонные
                %li Скатерти
                %li Лотки
                %li Ложки, ножи, вилки
                %li Салфетки
                %li Полотенца бумажные
                %li Платки бумажные
                %li Свечи интерьерные
                %li Украшения для коктейля


            %li.offer-card
              %h3.offer Мебель пластиковая
              %ul.offer-text
                %li Столы
                %li Кресла
                %li
                  Табуреты
                  %small (высокие, складные)
                %li Зонты, подставки


      .row
        .large-12.columns
          -#########################################
          -######################################### Хозяйственные товары
          -#########################################
          %h3.header-on-dark Хозяйственные товары
          %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3


            %li.offer-card
              %h3.offer Перчатки
              %ul.offer-text
                %li Перчатки виниловые
                %li Перчатки нитриловые
                %li Перчатки полушерстяные
                %li
                  Перчатки латексные
                  %small (хозяйственные)
                %li
                  Перчатки резиновые
                  %small (хозяйственные)
                %li
                  Перчатки х/б
                  %small (хлопчатобумажные, ХБ)
                %li Рукавицы


            %li.offer-card
              %h3.offer Пластик
              %ul.offer-text
                %li Диспенсеры, держатели для полотенец
                %li Диспенсеры, держатели для туалетной бумаги
                %li Диспенсеры для мыла
                %li Салфетницы
                %li Кружки мерные
                %li Мыльницы
                %li Совки
                %li Подносы
                %li Подставки под столовые приборы
                %li Умывальники, рукомойники
                %li Ящики балконные, с крышкой, кашпо
                %li Вазоны
                %li Вешалки
                %li Корзины для белья
                %li Корзины канцелярские
                %li Корзины универсальные

            %li.offer-card
              %h3.offer Хозяйственная группа
              %ul.offer-text
                %li Туалетная бумага
                %li Марля медицинская
                %li
                  Полотно ХП
                  %small (холстопрошивное)
                %li Ведра
                %li Губки для посуды
                %li Губки металлические
                %li Полотно вафельное
                %li Полотно бумажное
                %li Салфетки вискозные
                %li Салфетки из микрофибры
                %li Тряпки, швабры, насадки MOP
                %li Черенки к швабре
                %li Лопаты снегоуборочные, Веники, Черенки
                %li Коврики
                %li Щетки, щетка-сметка

            %li.offer-card
              %h3.offer Средства защиты
              %ul.offer-text
                %li Бахилы
                %li Бахилы полиэтиленовые
                %li Береты, пилотки
                %li Нарукавники ПНД, ПВД
                %li Передники ПНД, ПВД
                %li Дождевики

            %li.offer-card
              %h3.offer Бытовая химия
              %ul.offer-text
                %li Для мытья посуды
                %li Для мытья стекол
                %li Мыло жидкое
                %li Мыло хозяйственное
                %li Мыло туалетное
                %li СМС (синтетические моющие средства)
                %li СЧС (синтетические чистящие средства)

            %li.offer-card
              %h3.offer Крышки
              %ul.offer-text
                %li Закаточные машинки
                %li
                  Крышки полиэтиленовые
                  %small (холодная, горячая)
                %li
                  Крышки для консервирования
                  %small (закаточные)
                %li Крышки винтовые


            %li.offer-card
              %h3.offer Прочее
              %ul.offer-text
                %li Уголь древесный
                %li Щепа для копчения



      .row
        .large-12.columns
          -#########################################
          -######################################### Канцелярские товары
          -#########################################
          %h3.header-on-dark Канцелярские товары

          %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3


            %li.offer-card
              %h3.offer Ценники
              %ul.offer-text
                %li
                  Этикет-лента
                  %small (липкие)
                %li Ценник-ролик
                %li Ценники бумажные
                %li Термоэтикетка


            %li.offer-card
              %h3.offer Канцелярская техника
              %ul.offer-text
                %li Калькуляторы
                %li Антистеплер
                %li Дыроколы
                %li Лотки для бумаг
                %li Папки, регистраторы
                %li Степлеры
                %li Красящий валик


            %li.offer-card
              %h3.offer Бумага
              %ul.offer-text
                %li
                  Чековая лента
                  %small (44, 57, 80 мм)
                %li
                  Бумага
                  %small (SvetoCopy, Ballet, и др.)
                %li Бумага цветная
                %li Конверты
                %li Копировальная бумага
                %li Ролики для факса
                %li Тетради
                %li Блокноты


            %li.offer-card
              %h3.offer Письменные принадлежности
              %ul.offer-text
                %li Ручки, Карандаши, Стержни
                %li Скрепки, скобы
                %li Канцелярские ножи, лезвия, ножницы
                %li Линейки
                %li Маркеры
                %li Ластики
                %li
                  Корректор
                  %small Корректирующая жидкость


            %li.offer-card
              %h3.offer Канцтовары
              %ul.offer-text
                %li Скотч канцелярский
                %li Файлы
                %li Закладки клейкие
                %li Зажимы для бумаг
                %li
                  Клей
                  %small (ПВА, силикатный)
                %li Клей карандаш
                %li Краска штемпельная
                %li Планшеты
                %li
                  Колечки резиновые
                  %small (для денег)


            %li.offer-card
              %h3.offer Документы
              %ul.offer-text
                %li Книги учета
                %li Авансовые отчеты
                %li Ресторанные счета
                %li Товарные чеки
                %li Доверенности
                %li Приходно-кассовые ордера
                %li Расходно-кассовые ордера












    .row-large
      .large-12.columns.nopaddings
        %iframe{allowfullscreen:'', frameborder:'0', height:'400', style: 'border:0', width:'100%',  src:'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2082.2395285459193!2d31.267748996615403!3d58.5409991576875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x3870373e95ddffb2!2z0JHQvtCz0LDRgtGL0Lkg0JzQuNGAINCj0L_QsNC60L7QstC60Lg!5e0!3m2!1sru!2sru!4v1440323882632'}
          -# %div#map_canvas{style: "width:100%;height:400px;"}
          -#
          -# %ul.contact-us-list
          -#   %li.address В. Новгород, ул. Великая, 22.
          -#   %li.email
          -#     %a{:href => "mailto:sales@bmupack.ru"} sales@bmupack.ru
          -#   %li.phone
          -#     %a{:href => "tel://+78162332131"} +7 (8162) 33-21-31
      -#

    -# .row
    -#   .large-12.small-12.columns.benefits
    -#     %section.product-feature-section
    -#       .product-feature-section-outer
    -#         %h4.product-feature-section-headline Yeti Sightings Increase After Unclosed <div> Tag Scare
    -#         .product-feature-section-inner
    -#           .product-feature-section-feature.top-left
    -#             %i.fa.fa-shield{"aria-hidden" => "true"}
    -#             %div
    -#               %p.feature-title Бесплатная доставка
    -#               %p.feature-desc В пределах города: от 2'000 рублей, в другие города: от 100'000 рублей
    -#           .product-feature-section-feature.top-right
    -#             %i.fa.fa-heart{"aria-hidden" => "true"}
    -#             %div
    -#               %p.feature-title От производителя
    -#               %p.feature-desc Мы производим фасовочные и рулонные пакеты из полиэтилена
    -#           .product-feature-section-feature.bottom-left
    -#             %i.fa.fa-coffee{"aria-hidden" => "true"}
    -#             %div
    -#               %p.feature-title Оптовые продажи
    -#               %p.feature-desc Мы предлагаем
    -#           .product-feature-section-feature.bottom-right
    -#             %i.fa.fa-map-marker{"aria-hidden" => "true"}
    -#             %div
    -#               %p.feature-title Бесплатная доставка
    -#               %p.feature-desc Hails from the Himalayans


    -# .row
    -#   .large-12.columns
    -#     %h3.hide-for-large Богатый Мир Упаковки
    -#     %hr.hide-for-large/
    -#     %p
    -#       %strong Богатый Мир Упаковки
    -#       — одна из крупнейших торгово-производственных компаний на северо-западе России. Уже более 20 лет поставляет
    -#       %strong упаковочные
    -#       материалы, а так же
    -#       -# = succeed "," do
    -#       %strong канцелярские, хозяйственные, бытовые
    -#       товары. У нас Вы найдете множество
    -#       %strong подарков
    -#       и
    -#       %strong сувениров
    -#       .
    -#       Множество компаний по достоинству оценили продукцию компании Богатый Мир Упаковки, присоединяйтесь и Вы!

    %script{"data-dojo-config" => "usePlainJson: true, isDebug: false", :src => "//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js", :type => "text/javascript"}
    :javascript
      require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"42fad91015d9344b12e8586c6","lid":"b4dc660367"}) })
