%html
  %head
    %title Богатый Мир Упаковки: Производство упаковки
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/main.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'}
    %link{:href => "apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
    %link{:href => "apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    %link{:href => "apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}
    %link{:href => "favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => "favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "manifest.json", :rel => "manifest"}
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}
    %meta{:content => "ms-icon-144x144.png", :name => "msapplication-TileImage"}
    %meta{:content => "#ffffff", :name => "theme-color"}
    %meta{name:"robots", content: "index,follow"}
    %meta{:content => "Богатый Мир Упаковки. Упаковка, Хозяйственные, Канцелярские товары, Подарки", :name => "description"}
    %meta{:content => "Пакеты, пакеты в рулонах, пакеты для мусора, шпагат, бутылки, чековая лента, , перчатки, канцелярские, хозяйственные , оптовая база, пленка, стрейч, туалетная бумага, ложки, ножи, вилки, бытовая химия, для мытья посуды, для мытья стекол, бахилы, ценники, бумага, блокноты, тетради,  ПНД, ПВД, пакеты майка,   термоусадочные пленки, скотч, упаковка, одноразовая посуда, бму", :name => "keywords"}
    %script{src: 'js/app.js'}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40928872-1', 'auto');
      ga('send', 'pageview');


    %script{:type => "application/ld+json"}
      {
        "@context": "http://schema.org",
        "@type": "Store",
        "image": "http://bmupack.ru/images/smallLogo.jpg",
        "@id": "http://bmupack.ru",
        "name": "Богатый Мир Упаковки",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Великая ул., 22",
          "addressLocality": "Великий Новгород",
          "addressRegion": "Новгородская область",
          "postalCode": "173003",
          "addressCountry": "RU"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 58.540999,
          "longitude": 31.267749
        },
        "url": "http://bmupack.ru",
        "sameAs": [
          "http://instagram.com/bmupack",
          "https://vk.com/bmupack"
        ],
        "telephone": "+78162332132",
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" ],
            "opens": "9:00",
            "closes": "17:00"
          },
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": "Saturday",
            "opens": "9:00",
            "closes": "14:00"
          }
        ],
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "telephone": "+7-8162-33-21-32",
            "contactType": "sales"
          },
          {
            "@type": "ContactPoint",
            "telephone": "+7-8162-33-21-31",
            "contactType": "sales"
          },
          {
            "@type": "ContactPoint",
            "telephone": "+7-8162-33-21-33",
            "contactType": "sales"
          }
        ]
      }

    :javascript
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45549195 = new Ya.Metrika({ id:45549195, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script>
  %noscript
    %div
      %img{ src: "https://mc.yandex.ru/watch/45549195", style: "position:absolute; left:-9999px;", alt: "" }
  %body


    %nav.top-bar{"data-topbar" => "", :role => "navigation"}

      %ul.title-area
        %li.name.brand
          %a{:href => "/"}
            %img.brand-img{src: "images/smallLogo.jpg"}
            %h1.brand-name Богатый Мир Упаковки


      %section.top-bar-section.navbar-right
        %ul.right
          %li
            %a.navbar-email{:href => "mailto:sales@bmupack.ru", onclick: "yaCounter45549195.reachGoal('sendEmail'); return true;"} sales@bmupack.ru
          %li
            %a.navbar-phone{:href => "tel:88162332131", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"}
              %i.fa.fa-phone
              %span +7 8162 33-21-31
      %span.navbar-text-addr.right.hide-for-medium-down{class: "navbar-text hide"}
        ул. Великая, 22, В. Новгород
        %a.fa.fa-map-o{href:"https://www.google.ru/maps/place/%D0%91%D0%BE%D0%B3%D0%B0%D1%82%D1%8B%D0%B9+%D0%9C%D0%B8%D1%80+%D0%A3%D0%BF%D0%B0%D0%BA%D0%BE%D0%B2%D0%BA%D0%B8/@58.540999,31.2655603,17z/data=!3m1!4b1!4m5!3m4!1s0x46beebad91b122b3:0x3870373e95ddffb2!8m2!3d58.540999!4d31.267749?hl=ru", target: "_blank", onclick: "yaCounter45549195.reachGoal('openMap'); return true;"}


    .row
      .columns.large-12
        %dl.sub-nav.center
          %dd
            %a{:href => "/"} Главная
          %dd.active
            %a{:href => "/production.html"} Продукция
          %dd
            %a{:href => "/catalog.html"} Каталог
          %dd
            %a{:href => "/contacts.html"} Контакты
    .hero-manufacture
      .row-large.hero-manufacture-img
        .hero-img-manufacture-alpha
          .row.manufacture-flex
            .columns.large-12.small-12.medium-12
              .hero-text-wr
                .hero-text
                  %p.lead
                    %span Снабжаем Москву, Санкт-Петербург и города СЗФО
            .columns.large-8.small-12.medium-12
              .hero-text-wr
                .hero-text
                  .girl-call-wr
                    .girl-call
                      .girl-call-image-wr
                        .girl-call-image
                      .girl-call-text
                        %h1
                          %span 5 минут! Рассчитаю индивидуальные цены!
                        %p
                          %span Привезу бесплатно. Приму заказ. Дам консультацию.

                        %a.button.alert.text-center{:href => "tel:88162903620", onclick: "yaCounter45549195.reachGoal('callManufacture'); return true;"}
                          %i.fa.fa-phone
                          %b Получить прайс по телефону +7 (8162) 90-36-20


            .columns.large-4.small-12.medium-12
              .hero-text-wr
                .hero-text
                  %ul.hero-features
                    %li.row
                      .columns.large-2.small-2.medium-1
                        .hero-features-icon-wr
                          %i.fa.fa-truck
                      .columns.large-10.small-10.medium-11
                        %span.feature-title
                          %b Бесплатная
                          доставка
                        %span.feature-text
                          По В. Новгороду
                          При заказе от 2'000
                          %i.fa.fa-rub
                          %br
                          При заказе от 5'000
                          %i.fa.fa-rub
                          по области
                          %br
                          В Санкт-Петербург
                          При заказе от 100'000
                          %i.fa.fa-rub
                          %br
                          В другие регионы по согласованию


                    %li.row
                      .columns.large-2.small-2.medium-1
                        .hero-features-icon-wr
                          %i.fa.fa-industry
                      .columns.large-10.small-10.medium-11
                        %span.feature-title
                          %b Производитель
                        %span.feature-text
                          Цены ниже — поставки напрямую.

                    %li.row
                      .columns.large-2.small-2.medium-1
                        .hero-features-icon-wr
                          %i.fa.fa-percent
                      .columns.large-10.small-10.medium-11
                        %span.feature-title
                          %b Скидки
                        %span.feature-text
                          Индивидуальные цены для оптовых клиентов. Любая форма оплаты.

                    %li.row
                      .columns.large-2.small-2.medium-1
                        .hero-features-icon-wr
                          %i.fa.fa-magic
                      .columns.large-10.small-10.medium-11
                        %span.feature-title Заказные позиции
                        %span.feature-text
                          Изготовим упаковку любого
                          %b размера, микронности, вложения / намотки
                          по Вашему техническому заданию.


    -# .row-large
    -#   .row
    -#     .columns.large-12
    -#       %p.manufacture-desc
    -#         %strong Богатый Мир Упаковки
    -#         — производитель и поставщик упаковочных материалов, хозяйственных, канцелярских товаров.
    -#         %a.link-on-primary{:href => "/catalog.html"} Весь каталог
    -#       %p.manufacture-desc
    -#         Производственные линии позволяют изготавливать полиэтиленовые пакеты высокого качества.

    .row-large.blue-background
      .row.product-container
        .columns.large-12
          %h2.manufacture-header Популярные продукты
          %p.manufacture-text-partner
            Воможности нашего производства позволяют поддерживать широкую номенкулатуру фасовочных пакетов ПНД, в том числе в рулонах.
            %br
            По
            %b индивидуальным
            заказам мы производим упаковку произвольных размеров, тощины, количества в пачке и намотки. Есть возможность нанесения логотипа.
        .columns.large-12
          %table.table.hover.unstriped.fullwidth
            %thead
              %tr
                %td
                %td Размеры
                %td.hide-for-small
            %tbody
              %tr
                %td Пакет фасовочный с фальцем
                %td 18х27, 22х32, 22х35, 22х38, 22х50, 26х35, Заказные
                %td.hide-for-small 6мкм — 9мкм
              %tr
                %td Пакет фасовочный без фалцьев
                %td 24х37, 25х40, 30х40, 30х45, 30х60, 50х80, Заказные
                %td.hide-for-small 6мкм — 15мкм

              %tr
                %td Фасовочные пакеты в рулоне
                %td Заказные (произвольный размер)
                %td.hide-for-small 6мкм — 10мкм

              %tr
                %td Фасовочные пакеты в рулоне  (втулка)
                %td Заказные (произвольный размер)
                %td.hide-for-small Заказные (произвольный)

              %tr
                %td Пакет для мусора
                %td 10л — 110л
                %td.hide-for-small Заказные (произвольный)

              %tr
                %td Пакеты-вкладыши в гофрокороба
                %td Заказные (произвольный размер)
                %td.hide-for-small Заказные (произвольный)
          %p
            Не нашли нужного? Посмотрите
            %a.link-on-primary{:href => "/catalog.html"} весь каталог
            или
            Позвоните нам!
            %a.link-on-primary{:href => "tel:88162332131", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"}
              %span +7 8162 33-21-31
              %i.fa.fa-phone



    .row.manufacture-partner-block
      .columns.large-12
        %h2.manufacture-header Зарабатывайте больше!
        .manufacture-text-partner
          %p
            Мы трепетно отслеживаем цены на рынке и всегда рады сделать выгодные предложения!

          %p
            Мы
            %i любим
            своих клиентов и всегда рады
            %strong взаимовыгодному
            сотрудничеству.

      .columns.large-12
        %ul.manufacture-advantage.small-block-grid-1.medium-block-grid-2.large-block-grid-2

          %li
            .columns.large-1
              %i.fa.fa-chevron-down
            .columns.large-11
              %h4 Качество
              %p Оригинальная упаковка с нашим логотипом — гарантия качества. Мы проводим Контроль качества продукции, используем Современное оборудование, для Вас трудится Высококвалифицированный персонал.
          %li
            .columns.large-1
              %i.fa.fa-truck
            .columns.large-11
              %h4 Доставка
              %p
                Мы осуществляем
                %strong бесплатную
                доставку в Санкт-Петербург при заказе от 100'000
                %span.fa.fa-rub ,
                по Великому Новгороду от 2'000
                %span.fa.fa-rub ,
                по Новгородской области от 5'000
                %span.fa.fa-rub .
                Возможна доставка в Москву, города Северо-Запада и другие регионы.
          %li
            .columns.large-1
              %i.fa.fa-shopping-cart
            .columns.large-11
              %h4 В наличии и на заказ
              %p Прямые поставки со складов нашего производства и быстрое производство индивидуальной упаковки на заказ.
          %li
            .columns.large-1
              %i.fa.fa-file-image-o
            .columns.large-11
              %h4 Индивидуальность
              %p Производство упаковки под Вашим брендом, необходимого размера, микронности, намотки / вложения — по Вашему техническому заданию.

          %li
            .columns.large-1
              %i.fa.fa-certificate
            .columns.large-11
              %h4 Сертификация
              %p Наличие сертификатов на все виды товаров.

          %li
            .columns.large-1
              %i.fa.fa-credit-card
            .columns.large-11
              %h4 Оплата
              %p Безналичный и наличный расчет.



    .row
      .columns.large-12
        %ul.text-center.button-group.even-1
          %li
            %a.button.small.alert.text-center{:href => "tel:88162903620", onclick: "yaCounter45549195.reachGoal('callManufacture'); return true;"}
              %i.fa.fa-phone
              %b Сделать заказ +7 (8162) 90-36-20
          %li
            %a.button.small.alert.text-center{:href => "mailto:sales@bmupack.ru", onclick: "yaCounter45549195.reachGoal('sendEmailManufacture'); return true;"}
              %i.fa.fa-envelope-o
              %b Отправить заявку sales@bmupack.ru




    .row-large.dark-background.catalog
      .row
        .columns.large-12
          %h4.header-on-dark Сопутствующие товары

        .columns.large-12
          %a{:href => "/catalog.html"} Каталог

        .columns.large-12
          %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
            %li
              %h3.header-on-dark Упаковка
              %ul.nomargins
                %li.offer-card
                  %h3.offer Пакеты фасовочные
                %li.offer-card
                  %h3.offer Пакеты
                %li.offer-card
                  %h3.offer Мешки и сетки
                %li.offer-card
                  %h3.offer Пленки
                %li.offer-card
                  %h3.offer Сумки
                %li.offer-card
                  %h3.offer Упаковочные материалы
                %li.offer-card
                  %h3.offer Устройства
                %li.offer-card
                  %h3.offer Шпагат

            %li
              %h3.header-on-dark Пластик и посуда
              %ul.nomargins
                %li.offer-card
                  %h3.offer Пластиковые емкости

                %li.offer-card
                  %h3.offer Одноразовая посуда

                %li.offer-card
                  %h3.offer Мебель пластиковая

            %li
              %h3.header-on-dark Хозтовары
              %ul.nomargins
                %li.offer-card
                  %h3.offer Перчатки
                %li.offer-card
                  %h3.offer Пластик
                %li.offer-card
                  %h3.offer Хозяйственная группа
                %li.offer-card
                  %h3.offer Средства защиты
                %li.offer-card
                  %h3.offer Бытовая химия
                  %ul.offer-text
                %li.offer-card
                  %h3.offer Крышки
                %li.offer-card
                  %h3.offer Прочее
            %li
              %h3.header-on-dark Канцтовары
              %ul.nomargins
                %li.offer-card
                  %h3.offer Ценники
                %li.offer-card
                  %h3.offer Канцелярская техника
                %li.offer-card
                  %h3.offer Бумага
                %li.offer-card
                  %h3.offer Письменные принадлежности
                %li.offer-card
                  %h3.offer Документы

        .columns.large-12
          %a{:href => "/catalog.html"}
            Подробнее

    %script{"data-dojo-config" => "usePlainJson: true, isDebug: false", :src => "//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js", :type => "text/javascript"}
    :javascript
      require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"42fad91015d9344b12e8586c6","lid":"b4dc660367"}) })
